body{
  background-color: rgb(169, 169, 184);
}
.main_div{
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}

.text{
  color: rgb(255, 255, 255);
}

.main_box{
  width: 360px;
  height: 575px;
  background-color: rgb(13, 13, 14);
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.set{
  display: flex;
}

.set span{
  font-size: 2em;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 75px;
  height: 75px;
  background-color: #2d2d31;
  color: rgb(205, 217, 227);
  margin: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.zero{
  width: 140px !important;
  border-radius: 50px !important;
  display: flex;
  justify-content: left !important;
  padding-left: 20px ;
}


.op_icon{
  background-color: rgb(228, 147, 25) !important;
  color: #ffffff !important;
}
.opt_icon{
  background-color: rgb(184, 184, 183) !important;
  color: #000000 !important;
}

.result_viewPort{
  font-weight: 500;
  width: 300px;
  height: 50px;
  color: #ffffff;
  display: flex;
  justify-content: right;
  font-size: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.input_viewPort{
  font-weight: 500;
  width: 300px;
  color: #ffffff;
  display: flex;
  justify-content: right;
  font-size: 1.6em;
  height: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.set span:active{
  transform: scale(.95);
}

